body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(83, 75, 66);
}

nav ul {
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    gap: 80px;
}

nav ul li {
    margin-bottom: 5px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor_titulo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    color: rgb(227, 148, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    background-color: rgb(149, 132, 112);
}

.contenedor_titulo div:hover h1 {
    transition: transform 0.3s ease;
    transform: rotate(10deg);
}

.contenedor_titulo img {
    display: flex;
    height: auto;
}

.contenedor_servicios {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    color: rgb(227, 148, 21);
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(149, 132, 112);
}


.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(149, 132, 112);
}

.card-container ul {
    flex-direction: column;
    padding: 10px;
    list-style-type: none;
    /* Elimina las viñetas de la lista */
    padding: 0;
}

i {
    margin-right: 10px;
    /* Espacio entre el icono y el texto */
    display: flex;
}

.card-container div {
    background-color: rgba(243, 233, 221, 0.774);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: .4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
    height: auto;
    overflow: hidden;
}

.card-container div:hover h3 {
    color: rgb(149, 132, 112);
    transition: .2s all;
}

.card-container div:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.card-container label {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
    display: block;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.card-container div img {
    width: 100%;
    border-radius: 2px;
    height: 300px;
    object-fit: cover;
}

.card-container div p {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1.2;
}

button {
    padding: 10px;
    color: white;
    background-color: rgb(53, 53, 53);
}