.contenedor_vista_producto {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin: 10px;
    padding: 10px;
    background-color:rgb(149, 132, 112);
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.contenedor_vista_producto img {
    width: 100%;
    border-radius: 5px;
    height: 250px;
    width: 300px;
}

.contenedor_vista_producto div :hover h3{
    color: rgb(255, 255, 255);
    transition: .2s all;
}

.contenedor_vista_producto ul{
    flex-direction: column;
    padding: 10px;
    list-style-type: none; /* Elimina las viñetas de la lista */
    padding: 0;
}


.contenedor_vista_producto i{
    margin-right: 10px; /* Espacio entre el icono y el texto */
}


h3 { 
    text-align: center;
}

p {
    font-size: 16px;
    text-align: justify;
    display: block;
    padding: 10px;
}


